<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--Spring.Net配置-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--业务层仓储，非单例模式-->
      <object id="BLLSession" type="BerryCMS.BLL.BLLSession,BerryCMS.BLL" singleton="false" />
      <!--数据层仓储-->
      <object id="DBSessionFactory" type="BerryCMS.MsSQL.DBSessionFactory,BerryCMS.MsSQL" singleton="false"/>
    </objects>
  </spring>

  <!--数据库链接字符串-->
  <connectionStrings>
    <add name="MsSQLConnectionString" connectionString="Data Source=.;Initial Catalog=Berry;User ID=sa;Password=123456;Pooling=true;Max Pool Size = 5120;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!--使用的数据库，SqlServer、MySql-->
    <add key="DefaultDb" value="SqlServer"/>
    <!-- 服务器缓存类型:WebCache、Redis-->
    <add key="CacheType" value="WebCache" />
  </appSettings>

</configuration>